<div *ngIf="loader">
  <app-loader></app-loader>
</div>
<div class="localized-bubbles-wrapper">
  <app-heading [title]="'Localized Bubbles'"></app-heading>
  <div class="localized-bubbles">
    <div>
      <img [src]="chosenPanel" alt="" class="image image-border">
    </div>
    <div>
      <i class="fa fa-arrow-right right-arrow"></i>
    </div>
    <div>
      <img [src]="localized_bubbles" alt="" class="image image-border">
    </div>
  </div>

</div>

<div class="extracted-text-wrapper">
  <app-heading [title]="'Extracted Text'"></app-heading>
  <div class="extracted-text">
    <p class="text">{{extracted_text}}</p>
  </div>

</div>
