@font-face {
  font-family: primaryFont;
  src: url(./assets/fonts/Oswald-Regular.ttf);
}

body {
  background-color: #121212;
  font-family: primaryFont;
}

.image-border {
  border: 1px solid white;
  padding: 15px;
  border-radius: 5px;
}

mat-dialog-container {
  background-color: black !important;
}

.dialogBG {
  background-color: #e6e6e6;
  opacity: 0.2 !important;
}